---
title: Le Wagon - Middleman
---
<div class="banner">
    <div class="text-center">
        <h1>Welcome to my site</h1>
        <p class="banner-description">Amazing place to visit</p>
        <a href="#" class="btn btn-primary">Check more stuff</a>
    </div>
</div>
<div class="container">
    <div class="cards">
    <% data.users.each do |element| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/images/<%=element.city%>.jpg);"
        <div class="card-description">
          <h2><%=element.name%></h2>
          <p><%=element.city%></p>
        </div>
        <div class="card-user" style="background-image: url(/images/<%=element.name%>.jpg);"
        <a class="card-link" href="#" ></a>
      </div>
      <% end %>
    </div>
</div>
